/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* This helps with sizing components in our html/css */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Good resource too look at already made color palletes to use
https://tailwindcss.com/docs/customizing-colors
Going to use Fuchsia for this site

Resource to find icons
https://pictogrammers.com/library/mdi/
*/

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  /* width: 100vw; */
  height: 100vh;
}

.dashboard {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1; /* I know this is redundant but I want to use span :p */
  background-color: #e879f9; /* 400 */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: #fdf4ff; /* 50 */
}

.main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: #f5d0fe; /* 200 */
}
