/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* This helps with sizing components in our html/css */
/* Remeber that you need to put the inherit on every thing you change in the start tags */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* Good resource too look at already made color palletes to use
https://tailwindcss.com/docs/customizing-colors
Going to use Fuchsia for this site

Resource to find icons
https://pictogrammers.com/library/mdi/
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  /* width: 100vw; */
  height: 100vh;
}

.dashboard {
  color: white;

  grid-row: 1 / span 2;
  grid-column: 1 / span 1; /* I know this is redundant but I want to use span :p */
  background-color: #e879f9; /* 400 */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 32px;
}

.nav_list {
  list-style: none;
}

.small_icon {
  width: 20px;
  margin-right: 10px;

  /* This is used to change the color of the svg image, instead of manually changing every color in each svg */
  filter: invert(100%) sepia(0%) saturate(7456%) hue-rotate(187deg)
    brightness(112%) contrast(100%);
  /* align-self: baseline; */
}

.med_icon {
  width: 35px;
  margin-right: 10px;
}

.dashboard__header {
  display: flex;
  align-items: center;
}
.nav_list > li {
  display: flex;

  align-items: center;
  margin-bottom: 10px;
}

.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: #fdf4ff; /* 50 */
}

.main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: #f5d0fe; /* 200 */
}
