/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* This helps with sizing components in our html/css */
/* Remeber that you need to put the inherit on every thing you change in the start tags */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* Good resource too look at already made color palletes to use
https://tailwindcss.com/docs/customizing-colors
Going to use Fuchsia for this site

Resource to find icons
https://pictogrammers.com/library/mdi/
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  /* width: 100vw; */
  height: 100vh;
}

.drop_shadow {
  box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

/* Dashboard Start */
.dashboard {
  color: white;

  grid-row: 1 / span 2;
  grid-column: 1 / span 1; /* I know this is redundant but I want to use span :p */
  background-color: #e879f9; /* 400 */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 35px;

  padding: 1rem 1rem;
}

.nav_list {
  list-style: none;
}

.small_icon {
  width: 20px;
  margin-right: 10px;
  /* This is used to change the color of the svg image, instead of manually changing every color in each svg */
  /* filter: invert(100%) sepia(0%) saturate(7456%) hue-rotate(187deg)
    brightness(112%) contrast(100%); */
  /* Another way is to go to each svg and add "fill="#FFFFFF"" to the path to change the color */
  /* align-self: baseline; */
}

.med_icon {
  width: 50px;
  margin-right: 10px;
}

.dashboard__header {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}
.nav_list > li {
  display: flex;

  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Dashboard end */

/* Header start */
.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: #fdf4ff; /* 50 */
  position: relative; /* So you can see the box shadow */
  /* box-shadow: 0px 2px 3px rgb(175, 175, 175); */

  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: auto; */
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.search_bar {
  width: 75%;
  min-width: 75px;
}
#form {
  display: flex;
}
#form > input[type="text"] {
  border: none;
  background-color: #f5d0fe;
  height: 22px;
  border-radius: 10px;
  width: 100%;
  min-width: 30px;
}

.small_profile {
  width: 45px;
  /* object-fit: cover; */
  border: 1px solid rgba(79, 184, 88, 0.863);
  border-radius: 50%;
}
/* .profile_bar > .small_profile {
  margin-right: 20px;
} */

.profile_bar > img,
.profile_bar > .small_profile {
  margin-right: 25px;
}

.med_profile {
  width: 80px;
}

.profile_bar {
  display: flex;
  align-items: center;
}

.profile_bar__text {
  font-weight: bold;
}

.profile_display {
  display: flex;
  align-items: center;
  gap: 15px;
}

.greeting {
  font-weight: bold;
}

.greeting__small {
  font-size: 11px;
  margin-bottom: 5px;
}

.greeting__big {
  font-size: 25px;
}

.post_options {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1.5rem;
}

.post_options > button {
  color: #fdf4ff;
  border: none;
  background-color: #e879f9;
  width: 75px;
  height: 30px;
  border-radius: 15px;
}

/* Header end */

/* Main start */
.main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: #f5d0fe; /* 200 */

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 30px 20px 40px 20px;

  /* This makes the content inside here scrollable, only when necessary */
  /* overflow: auto;  */
}

.main__content {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.main__announcements {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.main__trending {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.main__content > .profile_bar__text {
  margin-bottom: 5px;
}
/* Main end */

/* Projects start */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-right: 20px;
  gap: 20px;
}

.project {
  height: 200px;
  border-radius: 10px;
  /* border-left: red 20px solid; */
  background-color: #fdf4ff;

  border-left: 10px solid #006e68;
  padding: 30px 20px 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_header > .profile_bar__text,
.main__announcements > .profile_bar__text {
  margin-bottom: 5px;
}
.project_icons_list {
  list-style: none;
  display: flex;
  justify-content: end;
}

.project_icon {
  width: 24px;
}

.project_icons_list > li {
  margin-right: 45px;
}

/* To make sure theres no extra space at the last icon */
.project_icons_list > li:last-child {
  margin-right: 0px;
}

/* Projects end */

/* Announcment Start */
.announcement_section {
  /* display: flex;
  flex-direction: column; */
  background-color: #fdf4ff;
  border-radius: 10px;
  padding: 2.3rem;
}

.announcement_header {
  font-weight: bold;
}
.announcement {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.announcement:first-child {
  margin-top: 0px;
}
.announcement:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.announcement_text {
  font-size: small;
}
/* Announcment End */
